ZOHO_SMTP_HOST=smtp.zoho.eu
ZOHO_SMTP_PORT=587
ZOHO_SMTP_SECURE=false
ZOHO_SMTP_USER=info@edulink.edu.lk
ZOHO_SMTP_PASS=your_zoho_app_password_or_smtp_password
CONTACT_TO_EMAIL=info@edulink.edu.lk
NEXT_PUBLIC_SITE_URL=https://edulink.edu.lk
